<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer"
        class="site-footer" id="colophon" itemtype="https://schema.org/WPFooter" itemscope="itemscope"
        itemid="#colophon">
    <div class="site-primary-footer-wrap ast-builder-grid-row-container site-footer-focus-item ast-builder-grid-row-4-equal ast-builder-grid-row-tablet-2-equal ast-builder-grid-row-mobile-full ast-footer-row-stack ast-footer-row-tablet-stack ast-footer-row-mobile-stack"
         data-section="section-primary-footer-builder">
        <div class="ast-builder-grid-row-container-inner">
            <div class="ast-builder-footer-grid-columns site-primary-footer-inner-wrap ast-builder-grid-row">
                <div class="site-footer-primary-section-1 site-footer-section site-footer-section-1">
                    <aside class="footer-widget-area widget-area site-footer-focus-item footer-widget-area-inner"
                           data-section="sidebar-widgets-footer-widget-1" aria-label="Footer Widget 1">
                        <section id="text-3" class="widget widget_text"><h2 class="widget-title">About</h2>
                            <div class="textwidget"><p>Turpis erat tincidunt et viverra id nunc molestie et faucibus
                                diam, proin lectus aliquam mattis ac nunc elementum accumsan libero.</p>
                            </div>
                        </section>
                    </aside>
                </div>
                <div class="site-footer-primary-section-2 site-footer-section site-footer-section-2">
                    <aside class="footer-widget-area widget-area site-footer-focus-item footer-widget-area-inner"
                           data-section="sidebar-widgets-footer-widget-2" aria-label="Footer Widget 2">
                        <section id="nav_menu-3" class="widget widget_nav_menu"><h2 class="widget-title">
                            Company</h2>
                            <nav class="menu-footer-company-container" aria-label="Company">
                                <ul id="menu-footer-company" class="menu">
                                    <li id="menu-item-855"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-855">
                                        <a th:href="@{/about-us}"
                                           class="menu-link">About Us</a></li>
                                    <li id="menu-item-856"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-856">
                                        <a th:href="@{/contact-us}"
                                           class="menu-link">Contact Us</a></li>
                                    <li id="menu-item-36"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36">
                                        <a th:href="@{/login}" class="menu-link">Admin login</a></li>
                                    <li id="menu-item-38"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38">
                                        <a href="#" class="menu-link">Advertise</a></li>
                                </ul>
                            </nav>
                        </section>
                    </aside>
                </div>
                <div class="site-footer-primary-section-3 site-footer-section site-footer-section-3">
                    <aside class="footer-widget-area widget-area site-footer-focus-item footer-widget-area-inner"
                           data-section="sidebar-widgets-footer-widget-3" aria-label="Footer Widget 3">
                        <section id="nav_menu-4" class="widget widget_nav_menu"><h2 class="widget-title">Legal</h2>
                            <nav class="menu-footer-legal-container" aria-label="Legal">
                                <ul id="menu-footer-legal" class="menu">
                                    <li id="menu-item-625"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-625">
                                        <a href="#" class="menu-link">Privacy Policy</a></li>
                                    <li id="menu-item-626"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-626">
                                        <a href="#" class="menu-link">Terms of Service</a></li>
                                    <li id="menu-item-627"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-627">
                                        <a href="#" class="menu-link">Extra Crunch Terms</a></li>
                                    <li id="menu-item-628"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-628">
                                        <a href="#" class="menu-link">Code of Conduct</a></li>
                                </ul>
                            </nav>
                        </section>
                    </aside>
                </div>
                <div class="site-footer-primary-section-4 site-footer-section site-footer-section-4">
                    <aside class="footer-widget-area widget-area site-footer-focus-item footer-widget-area-inner"
                           data-section="sidebar-widgets-footer-widget-4" aria-label="Footer Widget 4">
                        <section id="nav_menu-5" class="widget widget_nav_menu"><h2 class="widget-title">Follow
                            Us</h2>
                            <nav class="menu-footer-follow-container" aria-label="Follow Us">
                                <ul id="menu-footer-follow" class="menu">
                                    <li id="menu-item-630"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-630">
                                        <a href="#" class="menu-link">Facebook</a></li>
                                    <li id="menu-item-631"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-631">
                                        <a href="#" class="menu-link">Youtube</a></li>
                                    <li id="menu-item-632"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-632">
                                        <a href="#" class="menu-link">Twitter</a></li>
                                    <li id="menu-item-633"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-633">
                                        <a href="#" class="menu-link">Instagram</a></li>
                                </ul>
                            </nav>
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="site-below-footer-wrap ast-builder-grid-row-container site-footer-focus-item ast-builder-grid-row-2-equal ast-builder-grid-row-tablet-2-equal ast-builder-grid-row-mobile-full ast-footer-row-stack ast-footer-row-tablet-stack ast-footer-row-mobile-stack"
         data-section="section-below-footer-builder">
        <div class="ast-builder-grid-row-container-inner">
            <div class="ast-builder-footer-grid-columns site-below-footer-inner-wrap ast-builder-grid-row">
                <div class="site-footer-below-section-1 site-footer-section site-footer-section-1">
                    <div class="ast-builder-layout-element ast-flex site-footer-focus-item ast-footer-copyright"
                         data-section="section-footer-builder">
                        <div class="ast-footer-copyright"><p>Copyright © 2024 Business Blog</p>
                        </div>
                    </div>
                </div>
                <div class="site-footer-below-section-2 site-footer-section site-footer-section-2">
                    <div class="footer-widget-area widget-area site-footer-focus-item ast-footer-html-1"
                         data-section="section-fb-html-1">
                        <div class="ast-header-html inner-link-style-">
                            <div class="ast-builder-html-element"><p>Powered by Business Blog</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>